
div.css-18e3th9{
    padding-top: 3rem;
}

footer.css-qri22k {
    display: none;
}


div[data-testid="stHorizontalBlock"] div.e1tzin5v2 {
    background-color: #edf2ff;
    border: 1px solid #0c19ce;
    padding: 20px;
    border-radius: 10px;
}

div.streamlit-expanderContent div div div div.css-ocqkz7.e1tzin5v4 {
    padding: 0;
}

div.css-1xarl3l {
    display: flex;
}
div.css-sz1uv1 {
    display: flex;
    justify-content: center;
}
div.css-50ug3q {
    display: unset;
    text-align: center;
}

/*.stDownloadButton {*/
/*    display: none;*/
/*}*/