
div.css-18e3th9{
    padding-top: 3rem;
}

footer.egzxvld0 {
    display: none;
}
footer.css-qri22k {
    padding: 150px 0 15px 0;
    position: absolute;
}
.css-1vbd788:hover {
    color: rgb(49, 51, 63);
    font-weight: 600;
    text-decoration: unset;
}

div.stAlert div {
    border-radius: 15px;
}

div[data-testid="stImage"] img {
    border-radius: 30px;
}

div[data-testid="stHorizontalBlock"] div.css-1r6slb0.e1tzin5v2 {
    background-color: #edf2ff;
    border: 1px solid #0c19ce;
    padding: 20px;
    border-radius: 10px;
}

div.streamlit-expanderContent div div div div.css-ocqkz7.e1tzin5v4 {
    padding: 0;
}

div.css-1xarl3l {
    display: flex;
}
div.css-sz1uv1 {
    display: flex;
    justify-content: center;
}
div.css-50ug3q {
    display: unset;
    text-align: center;
}

/*.stDownloadButton {*/
/*    display: none;*/
/*}*/